node_modules/
apps/api/node_modules/
apps/web/node_modules/
apps/api/dist/
apps/web/dist/
.env
.env.local
.playwright-cli/
packages/contracts/.env
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/
packages/contracts/lib/openzeppelin-contracts/.github/
packages/contracts/lib/forge-std/.github/
storage/public/generated/*
storage/public/ipfs/*
!storage/public/generated/.gitkeep
!storage/public/ipfs/.gitkeep
storage/postgres/*
storage/ipfs/*
!storage/postgres/.gitkeep
!storage/ipfs/.gitkeep
.DS_Store
